global
    log /dev/log len 4096 local0
    log /dev/log len 4096 local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats socket ipv4@<%= node['gitlab-haproxy']['api_address'] %>:23646 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    maxconn 50000
    spread-checks 2

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL).
    ssl-default-bind-ciphers ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4
    # Keep DH params size at 1024 for Java 6 HTTPS clients
    tune.ssl.default-dh-param 1024

defaults
    log global
    option dontlognull
    maxconn 50000
    timeout connect 5000
    timeout check 30000
    timeout client <%= node['gitlab-haproxy']['timeout_client'] %>
    timeout server <%= node['gitlab-haproxy']['timeout_server'] %>
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/429.http
    errorfile 408 /etc/haproxy/errors/400.http
    errorfile 429 /etc/haproxy/errors/429.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/500.http
    errorfile 503 /etc/haproxy/errors/500.http
    errorfile 504 /etc/haproxy/errors/500.http

listen stats
    bind <%= node['gitlab-haproxy']['listen_address'] %>:7331
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth admin:<%= @admin_password %>
    stats admin if TRUE

<% if node['gitlab-haproxy']['frontend']['peers']['servers'].any? -%>
#---------------------------------------------------------------------
# Sync data between the frontend nodes
#---------------------------------------------------------------------
peers frontend-peers
    <% node['gitlab-haproxy']['frontend']['peers']['servers'].each do |name, network| %>
    peer <%= name %> <%= network[0] %>:<%= network[1] %>
    <% end %>
<% end -%>

#---------------------------------------------------------------------
# Frontend configuration
#---------------------------------------------------------------------
frontend http
    bind <%= node['gitlab-haproxy']['listen_address'] %>:80
    mode http
    option splice-auto
    timeout client-fin <%= node['gitlab-haproxy']['timeout_client_fin'] %>
    log-format %ci:%cp\ [%t]\ %ft\ %b/%s\ %Tq/%Tw/%Tc/%Tr/%Tt\ %ST\ %B\ %U\ %CC\ %CS\ %tsc\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq\ %hr\ %hs\ %{+Q}r
    acl is_www_gitlab_com hdr(host) -i www.gitlab.com
    http-request redirect code 301 location https://gitlab.com%[capture.req.uri] if is_www_gitlab_com
    http-request redirect scheme https code 301

frontend https
    bind <%= node['gitlab-haproxy']['listen_address'] %>:443 ssl crt /etc/haproxy/ssl/gitlab.pem crt /etc/haproxy/ssl/ci.pem crt /etc/haproxy/ssl/registry.pem no-sslv3
    mode http
    option splice-auto
    timeout client-fin <%= node['gitlab-haproxy']['timeout_client_fin'] %>
    log-format %ci:%cp\ [%t]\ %ft\ %b/%s\ %Tq/%Tw/%Tc/%Tr/%Tt\ %ST\ %B\ %U\ %CC\ %CS\ %tsc\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq\ %hr\ %hs\ %{+Q}r
    capture request header User-Agent len 64

    stick-table type ip size 1m expire 5m store gpc0,conn_rate(1m) <% if node['gitlab-haproxy']['frontend']['peers']['servers'].any? -%>peers frontend-peers<% end -%>
    tcp-request connection track-sc1 src

    acl is_ci_gitlab_com hdr(host) -i ci.gitlab.com
    acl is_registry_gitlab_com hdr(host) -i <%= node['gitlab-haproxy']['frontend']['registry']['hostname'] %>
    acl is_www_gitlab_com hdr(host) -i www.gitlab.com
    acl is_socket_upg hdr(Upgrade) -i WebSocket
    acl is_socket_path path_end -i .ws
    acl is_gitlab_com_api path_beg -i /api/
    acl is_ancient_ci_runner path_beg -i /ci/api/
    acl is_gitlab_com_https_git path_reg -i ^\/(?!help)[^\/]+\/((?!artifacts|browse|file|tree|blob|blame|commits|raw|find_file|files|graphs|logs_tree|refs|wikis|new|create|edit|update|preview|badges)[^\/]+\/)*[^\/]+\.git($|\/)
    acl is_legacy_ci_runner hdr_reg(User-Agent) -i gitlab-ci-multi-runner\ 1\.
    acl has_multiple_slash path_reg /{2,}

    http-request set-uri https://gitlab.com/ci%[path]?%[query] if is_ci_gitlab_com
    http-request redirect code 308 location https://gitlab.com%[capture.req.uri] if is_www_gitlab_com
    http-request redirect code 308 location https://%[hdr(host)]%[url,regsub(/+,/,g)] if has_multiple_slash
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-SSL %[ssl_fc]
    http-request deny deny_status 400 if is_legacy_ci_runner
    http-request deny deny_status 400 if is_ancient_ci_runner

    acl whitelist_internal src -f /etc/haproxy/whitelist-internal.lst
    http-request allow if whitelist_internal

    acl whitelist_api src -f /etc/haproxy/whitelist-api.lst

    <%= node['gitlab-haproxy']['frontend']['https']['custom_config'] %>

    acl api_rate_limit_whitelist src <%= node['gitlab-haproxy']['frontend']['https']['rate_limit_whitelist'] %>

    use_backend api if is_gitlab_com_api api_rate_limit_whitelist
    use_backend api if is_gitlab_com_api whitelist_internal
    use_backend api if is_gitlab_com_api whitelist_api
    use_backend api_rate_limit if is_gitlab_com_api
    use_backend https_git if is_gitlab_com_https_git
    use_backend registry if is_registry_gitlab_com
    use_backend websockets if is_socket_upg or is_socket_path
    default_backend web

frontend ssh
    bind <%= node['gitlab-haproxy']['listen_address'] %>:<%= node['gitlab-haproxy']['frontend']['ssh']['port'] %>
    mode tcp
    option splice-auto
    timeout client-fin <%= node['gitlab-haproxy']['timeout_client_fin'] %>
    log-format %ci:%cp\ [%t]\ %ft\ %b/%s\ %Tw/%Tc/%Tt\ %B\ %U\ %ts\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq
    stick-table type ip size 1m expire 5m store gpc0,conn_rate(1m) <% if node['gitlab-haproxy']['frontend']['peers']['servers'].any? -%>peers frontend-peers<% end -%>
    use_backend ssh

frontend api_rate_limit
    bind 127.0.0.1:<%= node['gitlab-haproxy']['frontend']['https']['rate_limit_frontend_port'] %> accept-proxy
    mode http
    option splice-auto
    stick-table type ip size 1m expire 1m store gpc0,conn_cnt,conn_rate(1m),http_req_cnt,http_req_rate(1m) <% if node['gitlab-haproxy']['frontend']['peers']['servers'].any? -%>peers frontend-peers<% end -%>
    tcp-request content track-sc1 src
    acl has_no_user-agent hdr_cnt(User-Agent) eq 0
    acl is_rate_abuse src_conn_cnt gt <%= node['gitlab-haproxy']['frontend']['api']['rate_limit_conn_cnt_per_minute'] %>
    http-request deny deny_status 400 if has_no_user-agent
    http-request set-var(txn.src_conn_cnt) src_conn_cnt
    http-request set-var(txn.src_http_req_cnt) src_http_req_cnt
    http-response set-header RateLimit-Limit <%= node['gitlab-haproxy']['frontend']['api']['rate_limit_conn_cnt_per_minute'] %>
    http-response set-header RateLimit-Observed %[src_conn_cnt]
    http-response set-header RateLimit-HTTP-Observed %[src_http_req_cnt]
    http-response set-header RateLimit-Rate %[src_conn_rate]
    http-response set-header RateLimit-HTTP-Rate %[src_http_req_rate]
    http-response set-header RateLimit-Remaining %[int(<%= node['gitlab-haproxy']['frontend']['api']['rate_limit_conn_cnt_per_minute'] %>),sub(txn.src_conn_cnt)]
    http-response set-header RateLimit-HTTP-Remaining %[int(<%= node['gitlab-haproxy']['frontend']['api']['rate_limit_conn_cnt_per_minute'] %>),sub(txn.src_http_req_cnt)]
    use_backend 429_slow_down if is_rate_abuse
    default_backend api

#---------------------------------------------------------------------
# Backend configuration
#---------------------------------------------------------------------
backend api
    mode http
    balance roundrobin
    option forwardfor
    option splice-auto
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
    option httpchk GET / HTTP/1.1\r\nHost:\ <%= node['gitlab-haproxy']['frontend']['api']['httpchk_host'] %>
    <% node['gitlab-haproxy']['frontend']['api']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:443 check check-ssl inter 2s fastinter 1s downinter 5s fall 3 ssl verify none
    <% end %>

backend api_rate_limit
    option splice-auto
    mode http
    server localhost 127.0.0.1:<%= node['gitlab-haproxy']['frontend']['https']['rate_limit_frontend_port'] %> send-proxy

backend https_git
    mode http
    balance roundrobin
    option forwardfor
    option splice-auto
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
    option httpchk GET / HTTP/1.1\r\nHost:\ <%= node['gitlab-haproxy']['frontend']['https_git']['httpchk_host'] %>
    <% node['gitlab-haproxy']['frontend']['https_git']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:443 check check-ssl inter 2s fastinter 1s downinter 5s fall 3 ssl verify none
    <% end %>

backend web
    mode http
    balance roundrobin
    option forwardfor
    option splice-auto
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
    rspadd Content-Security-Policy:<%= node['gitlab-haproxy']['frontend']['web']['content_security_policy'].gsub(/ /, '\ ').gsub("'"){"\\'"} %>
    option httpchk GET / HTTP/1.1\r\nHost:\ <%= node['gitlab-haproxy']['frontend']['web']['httpchk_host'] %>
    <% node['gitlab-haproxy']['frontend']['web']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:443 check check-ssl inter 2s fastinter 1s downinter 5s fall 3 ssl verify none
    <% end %>

backend registry
    mode http
    balance roundrobin
    option forwardfor
    option splice-auto
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
    option httpchk GET / HTTP/1.1\r\nHost:\ <%= node['gitlab-haproxy']['frontend']['registry']['hostname'] %>
    <% node['gitlab-haproxy']['frontend']['registry']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:<%= node['gitlab-haproxy']['frontend']['registry']['backend_port'] %> check inter 2s fastinter 1s downinter 5s fall 3
    <% end %>

backend ssh
    mode tcp
    balance source
    option splice-auto
    hash-type consistent
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
    timeout server <%= node['gitlab-haproxy']['timeout_server_ssh'] %>
    # We need to check port 443 and not 22. The assumption here is that ssh won't work
    # if rails isn't running and they're both running on the same host.
    # We need to change this when we split rails to a separate cluster.
    option httpchk GET / HTTP/1.1\r\nHost:\ <%= node['gitlab-haproxy']['frontend']['ssh']['httpchk_host'] %>
    <% node['gitlab-haproxy']['frontend']['ssh']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:22 check check-ssl port 443 inter 2s fastinter 1s downinter 5s fall 3 verify none
    <% end %>

backend websockets
    mode http
    balance roundrobin
    option splice-auto
    option http-server-close
    timeout tunnel <%= node['gitlab-haproxy']['timeout_tunnel'] %>
    cookie _gitlab_session prefix nocache
    <% node['gitlab-haproxy']['frontend']['websockets']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:443 check check-ssl inter 2s fastinter 1s downinter 5s fall 3 ssl verify none cookie <%= name %>
    <% end %>

backend 429_slow_down
    mode http
    timeout tarpit 2s
    errorfile 500 /etc/haproxy/errors/429.http
    errorfile 503 /etc/haproxy/errors/429.http
    http-request tarpit
