#---------------------------------------------------------------------
# Whitelisted IP Address Blocks for Intenral GitLlab Servers API Usage
#---------------------------------------------------------------------
<% if node['gitlab-haproxy']['frontend']['whitelist']['internal'].any? -%>
    <% node['gitlab-haproxy']['frontend']['whitelist']['internal'].each do |network, comment| %>
# <%= comment %>
<%= network %>
    <% end %>
<% end -%>
